.profile__about {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  grid-row: 2/3;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
