.card__like-button {
  height: 19px;
  width: 24px;
  cursor: pointer;
  background: transparent url('../../../images/likeBtn.svg');
  background-repeat: no-repeat;
  position: absolute;
  right: 23px;
  bottom: 30px;
  border: none;
  transition: opacity 0.5s;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button_clicked {
  background: transparent url('../../../images/solidLikeBtn.svg');
  background-repeat: no-repeat;
}


