.popup__submit-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  min-width: 100%;
  min-height: 50px;
  margin: 18px auto 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: .8;
}

