@import url('__group/element__group.css');
@import url('__img/element__img.css');
@import url('__title/element__title.css');
@import url('__like-btn/element__like-btn.css');

.element {
  text-decoration: none;
  list-style-type: none;
  display:grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 18px;
  row-gap: 21px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .element {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-items: center;
  }
}

@media screen and (max-width: 425px) {
  .element {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
